<h2 id="title">Welcome to Ember</h2>

{{input id="test-input" value=value}}

<div id="first-value">{{values.firstObject}}</div>
<div id="last-value">{{values.lastObject}}</div>
<div id="name-value">{{nameValue}}</div>
<div id="proxy-value">{{hasProxies}}</div>

{{outlet}}